{#
/**
 * @file
 * Default template for feed displays.
 *
 * Available variables:
 * - link: The link to the feed.
 * - title: The title of the feed.
 * - description: The feed description.
 * - langcode: The language encoding.
 * - image_url: The url to the image for the feed.
 * - image_title: The title for the image for the feed.
 * - image_link: The link for the image for the feed.
 * - channel_elements: The formatted channel elements.
 * - items: The feed items themselves.
 */
#}
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0">
  <channel>
    <title>{{ title }}</title>
    <link>{{ link }}</link>
    <description>{{ description }}</description>
    <language>{{ langcode }}</language>
    <image>
      <url>{{ image_url }}</url>
      <title>{{ image_title }}</title>
      <link>{{ image_link }}</link>
    </image>
    {{ channel_elements }}
    {{ items }}
  </channel>
</rss>
